<div id="draftSim">
	<div id="controls" class="dropdown">
		<div id="team" class="dropdown">
			<button id="selectedTeam" ng-class="sim.userTeam.shortName" class="teamLogo dropdown-toggle" ng-disabled="sim.started">
				{{ selectTeamText }}
			</button>
			<ul class="dropdown-menu">
				<li ng-repeat="team in draft.teams" ng-class="team.shortName" ng-click="selectTeam(team.shortName)" class="teamLogo"></li>
			</ul>
		</div>
		<div id="status" ng-class="getUndraftedRowStyle()">
			<label>Round</label>
			<ul>
				<li ng-click="filterByRound(1)" ng-class="roundIndicator(1)">1</li>
				<li ng-click="filterByRound(2)" ng-class="roundIndicator(2)">2</li>
				<li ng-click="filterByRound(3)" ng-class="roundIndicator(3)">3</li>
				<li ng-click="filterByRound(4)" ng-class="roundIndicator(4)">4</li>
				<li ng-click="filterByRound(5)" ng-class="roundIndicator(5)">5</li>
				<li ng-click="filterByRound(6)" ng-class="roundIndicator(6)">6</li>
				<li ng-click="filterByRound(7)" ng-class="roundIndicator(7)">7</li>
			</ul>

			<label>Pick</label>
			<span id="pickNum">{{ sim.position }}</span>
		</div>
		<button id="toggle" ng-disabled="disableToggle()" ng-click="toggleDraft()">
			{{ toggleText() }}
		</button>
	</div>

	<div id="picks">
		<ul>
			<li class="teamLogo" ng-class="pick.team.shortName" ng-repeat="pick in draft.picks">
				<span class="overall">{{pick.overall}}</span>
			</li>
		</ul>
	</div>

	<div id="players">
		<div id="undrafted">
			<h3>{{fart}}</h3>
			<table>
				<thead>
					<tr>
						<th ng-class="getUndraftedSortStyle('ranking')" ng-click="draft.prospects.sort.set('ranking')">#</th>
						<th ng-class="getUndraftedSortStyle('lastName')" ng-click="draft.prospects.sort.set('lastName')">Last Name</th>
						<th ng-class="getUndraftedSortStyle('firstName')" ng-click="draft.prospects.sort.set('firstName')">First Name</th>
						<th ng-class="getUndraftedSortStyle('position.shortName')" ng-click="draft.prospects.sort.set('position.shortName')">Position</th>
						<th ng-class="getUndraftedSortStyle('college')" ng-click="draft.prospects.sort.set('college')">College</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="player in draft.prospects | orderBy: draft.prospects.sort.field:draft.prospects.sort.reverse | filter: prospectFilter"
						ng-click="userPick(player)" ng-class="getUndraftedRowStyle()">
						<td>
							{{player.ranking}}
						</td>
						<td>
							{{player.lastName}}
						</td>
						<td>
							{{player.firstName}}
						</td>
						<td>
							{{player.position.shortName}}
						</td>
						<td>
							{{player.college}}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div id="drafted">
			<h3>Drafted </h3>
			<table>
				<thead>
					<tr>
						<th ng-class="getDraftedSortStyle('overall')" ng-click="draft.drafted.sort.set('overall')">#</th>
						<th ng-class="getDraftedSortStyle('team.name')" ng-click="draft.drafted.sort.set('team.name')">Team</th>
						<th ng-class="getDraftedSortStyle('lastName')" ng-click="draft.drafted.sort.set('lastName')">Last Name</th>
						<th ng-class="getDraftedSortStyle('firstName')" ng-click="draft.drafted.sort.set('firstName')">First Name</th>
						<th ng-class="getDraftedSortStyle('position.shortName')" ng-click="draft.drafted.sort.set('position.shortName')">Position</th>
					</tr>
				</thead>
				<tbody scroll-glue>
					<tr ng-repeat="player in draft.drafted | orderBy: draft.drafted.sort.field:draft.drafted.sort.reverse | filter: { round: draft.drafted.filter.round }">
						<td>
							{{player.overall}}
						</td>
						<td>
							{{player.team.name}}
						</td>
						<td>
							{{player.lastName}}
						</td>
						<td>
							{{player.firstName}}
						</td>
						<td>
							{{player.position.shortName}}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div id="positionFilter">
		<div class="phase">
			<span>Offense</span>
			<ul>
				<li ng-click="draft.prospects.filter.set('position', 'QB')" ng-class="draft.prospects.filter.style('QB')">Quarterback</li>
				<li ng-click="draft.prospects.filter.set('position', 'RB')" ng-class="draft.prospects.filter.style('RB')">Runningback</li>
				<li ng-click="draft.prospects.filter.set('position', 'FB')" ng-class="draft.prospects.filter.style('FB')">Fullback</li>
				<li ng-click="draft.prospects.filter.set('position', 'WR')" ng-class="draft.prospects.filter.style('WR')">Wide Reciever</li>
				<li ng-click="draft.prospects.filter.set('position', 'TE')" ng-class="draft.prospects.filter.style('TE')">Tight End</li>
				<li ng-click="draft.prospects.filter.set('position', 'C')" ng-class="draft.prospects.filter.style('C')">Center</li>
				<li ng-click="draft.prospects.filter.set('position', 'OG')" ng-class="draft.prospects.filter.style('OG')">Offensive Guards</li>
				<li ng-click="draft.prospects.filter.set('position', 'OT')" ng-class="draft.prospects.filter.style('OT')">Offensive Tackle</li>
			</ul>
		</div>

		<div class="phase">
			<span>Defense</span>
			<ul>
				<li ng-click="draft.prospects.filter.set('position', 'DE')" ng-class="draft.prospects.filter.style('DE')">Defensive End</li>
				<li ng-click="draft.prospects.filter.set('position', 'DT')" ng-class="draft.prospects.filter.style('DT')">Defensive Tackle</li>
				<li ng-click="draft.prospects.filter.set('position', 'ILB')" ng-class="draft.prospects.filter.style('ILB')">Inside Linebacker</li>
				<li ng-click="draft.prospects.filter.set('position', 'OLB')" ng-class="draft.prospects.filter.style('OLB')">Outside Linebacker</li>
				<li ng-click="draft.prospects.filter.set('position', 'CB')" ng-class="draft.prospects.filter.style('CB')">Cornerback</li>
				<li ng-click="draft.prospects.filter.set('position', 'S')" ng-class="draft.prospects.filter.style('S')">Safety</li>
			</ul>
		</div>

		<div class="phase">
			<span>Special Teams</span>
			<ul>
				<li ng-click="draft.prospects.filter.set('position', 'K')" ng-class="draft.prospects.filter.style('K')">Kicker</li>
				<li ng-click="draft.prospects.filter.set('position', 'P')" ng-class="draft.prospects.filter.style('P')">Punter</li>
			</ul>
		</div>
	</div>
</div>