/* Team Draft Pick Logos */
.ATL {
  background-color: #b01742 !important;
  color: #ffffff !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.ATL {
  background-image: url(../img/logo/Falcons.png);
}
.ARI {
  background-color: #b00539 !important;
  color: #ffffff !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.ARI {
  background-image: url(../img/logo/Cardinals.png);
}
.BAL {
  background-color: #24125c !important;
  color: #d0b240 !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.BAL {
  background-image: url(../img/logo/Ravens.png);
}
.BUF {
  background-color: #ffffff !important;
  color: #c60c30 !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.BUF {
  background-image: url(../img/logo/Bills.png);
}
.CAR {
  background-color: #000000 !important;
  color: #0088ce !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.CAR {
  background-image: url(../img/logo/Panthers.png);
}
.CHI {
  background-color: #052842 !important;
  color: #dd4814 !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.CHI {
  background-image: url(../img/logo/Bears.png);
}
.CIN {
  background-color: #f36a24 !important;
  color: #000000 !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.CIN {
  background-image: url(../img/logo/Bengals.png);
}
.CLE {
  background-color: #de6108 !important;
  color: #26201e !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.CLE {
  background-image: url(../img/logo/Browns.png);
}
.DAL {
  background-color: #0d254c !important;
  color: #8c8b8a !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.DAL {
  background-image: url(../img/logo/Cowboys.png);
}
.DEN {
  background-color: #101a3d !important;
  color: #d54c08 !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.DEN {
  background-image: url(../img/logo/Broncos.png);
}
.DET {
  background-color: #006caf !important;
  color: #ffffff !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.DET {
  background-image: url(../img/logo/Lions.png);
}
.GNB {
  background-color: #313f36 !important;
  color: #ffcc00 !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.GNB {
  background-image: url(../img/logo/Packers.png);
}
.HOU {
  background-color: #00133e !important;
  color: #ffffff !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.HOU {
  background-image: url(../img/logo/Texans.png);
}
.JAX {
  background-color: #006779 !important;
  color: #d9a218 !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.JAX {
  background-image: url(../img/logo/Jaguars.png);
}
.KAN {
  background-color: #b20032 !important;
  color: #f2c800 !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.KAN {
  background-image: url(../img/logo/Chiefs.png);
}
.IND {
  background-color: #163f83 !important;
  color: #ffffff !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.IND {
  background-image: url(../img/logo/Colts.png);
}
.MIA {
  background-color: #ffffff !important;
  color: #006666 !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.MIA {
  background-image: url(../img/logo/Dolphins.png);
}
.MIN {
  background-color: #582c83 !important;
  color: #f0bf00 !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.MIN {
  background-image: url(../img/logo/Vikings.png);
}
.NWE {
  background-color: #00214a !important;
  color: #d6d6d6 !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.NWE {
  background-image: url(../img/logo/Patriots.png);
}
.NOR {
  background-color: #c9b074 !important;
  color: #000000 !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.NOR {
  background-image: url(../img/logo/Saints.png);
}
.NYG {
  background-color: #192e6c !important;
  color: #ca001a !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.NYG {
  background-image: url(../img/logo/Giants.png);
}
.NYJ {
  background-color: #015b41 !important;
  color: #ffffff !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.NYJ {
  background-image: url(../img/logo/Jets.png);
}
.OAK {
  background-color: #000000 !important;
  color: #c4c8cb !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.OAK {
  background-image: url(../img/logo/Raiders.png);
}
.PHI {
  background-color: #003b48 !important;
  color: #ffffff !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.PHI {
  background-image: url(../img/logo/Eagles.png);
}
.PIT {
  background-color: #fbae46 !important;
  color: #000000 !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.PIT {
  background-image: url(../img/logo/Steelers.png);
}
.SDG {
  background-color: #0472cc !important;
  color: #eec607 !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.SDG {
  background-image: url(../img/logo/Chargers.png);
}
.SFO {
  background-color: #c4031e !important;
  color: #bc9e5c !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.SFO {
  background-image: url(../img/logo/49ers.png);
}
.SEA {
  background-color: #06192e !important;
  color: #4eae47 !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.SEA {
  background-image: url(../img/logo/Seahawks.png);
}
.STL {
  background-color: #0d254c !important;
  color: #c9af74 !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.STL {
  background-image: url(../img/logo/Rams.png);
}
.TAM {
  background-color: #b20032 !important;
  color: #89765f !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.TAM {
  background-image: url(../img/logo/Buccaneers.png);
}
.TEN {
  background-color: #648fcc !important;
  color: #000080 !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.TEN {
  background-image: url(../img/logo/Titans.png);
}
.WAS {
  background-color: #773141 !important;
  color: #ffb612 !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.WAS {
  background-image: url(../img/logo/Redtails.png);
}
html,
body {
  font-family: 'Segoe UI';
  height: 100%;
}
body {
  background: #d3d3d3;
  /* Old browsers */
  background: -moz-linear-gradient(top, #eeeeee 0%, #555555 25%, #212121 60%, #eeeeee 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(25%, #555555), color-stop(60%, #212121), color-stop(100%, #eeeeee));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d3d3d3 0%, #a0a0a0 25%, #555555 60%, #afafaf 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #eeeeee 0%, #a0a0a0 25%, #555555 60%, #afafaf 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #eeeeee 0%, #a0a0a0 25%, #555555 60%, #afafaf 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #eeeeee 0%, #a0a0a0 25%, #555555 60%, #afafaf 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#afafaf', GradientType=0);
  /* IE6-9 */
  text-align: center;
}
header {
  background-color: black;
  color: white;
  visibility: collapse;
  text-align: left;
  min-width: 1280px;
}
#main {
  width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: left;
}
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.cf:after {
  clear: both;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}
@media (max-height: 1200px) {
  header {
    height: 48px;
    line-height: 48px;
    visibility: visible;
  }
  header #title {
    display: inline-block;
    font-weight: bold;
    padding-left: 12px;
  }
}
@media (max-height: 720px) {
  header {
    height: 24px;
    line-height: 24px;
    visibility: visible;
  }
  header #title {
    display: inline-block;
    padding-left: 3px;
  }
}
.dropdown-menu {
  border-radius: 0;
  padding: 0;
  margin-left: -1px;
  max-height: 962px;
  overflow-y: scroll;
  top: 0;
  margin-top: -1px;
}
.dropdown-menu li {
  height: 64px;
  width: 300px;
}
#draftSim #controls {
  background-color: #212121;
  color: #eeeeee;
  height: 64px;
  line-height: 64px;
}
#draftSim #controls button {
  border: 0;
  background-color: #555555;
  color: #eeeeee;
  height: 64px;
}
#draftSim #controls button[disabled] {
  color: #555555;
  background-color: #212121;
}
#draftSim #controls #team {
  background-color: #555555;
  cursor: pointer;
  float: left;
  height: 64px;
  text-align: center;
}
#draftSim #controls #team #selectedTeam {
  width: 300px;
}
#draftSim #controls #status {
  display: inline-block;
  font-size: x-large;
  text-align: right;
  width: 776px;
}
#draftSim #controls #status label {
  margin: 0 12px;
}
#draftSim #controls #status ul {
  display: inline;
  list-style: none;
  margin: auto;
  padding: 0;
}
#draftSim #controls #status ul li {
  display: inline;
  padding: 2px 8px;
}
#draftSim #controls #status ul li.reached {
  cursor: pointer;
}
#draftSim #controls #status ul li.active {
  background-color: #eeeeee;
  color: #212121;
  font-weight: bold;
}
#draftSim #controls #status ul li.current {
  border-bottom: solid 1px #eeeeee;
}
#draftSim #controls #status #pickNum {
  display: inline-block;
  margin-right: 8px;
  min-width: 24px;
}
#draftSim #controls button#toggle {
  *zoom: 1;
  float: right;
  width: 200px;
}
#draftSim #picks {
  background-color: #555555;
  float: left;
  height: 896px;
  overflow-y: scroll;
  padding: 0;
  text-align: left;
  width: 300px;
}
#draftSim #picks ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#draftSim #picks ul li {
  display: block;
  height: 64px;
  line-height: 64px;
  padding-left: 12px;
}
#draftSim #picks ul li .overall {
  font-size: x-large;
  text-align: right;
  display: inline-block;
  width: 24px;
}
#draftSim #picks ul li.ng-enter,
#draftSim #picks ul li.ng-leave {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
#draftSim #picks ul li.ng-enter {
  opacity: 0;
  height: 0;
}
#draftSim #picks ul li.ng-leave {
  z-index: -1;
}
#draftSim #picks ul li.ng-leave.ng-leave-active {
  height: 0;
}
#draftSim #picks ul li.ng-leave.ng-leave-active .overall {
  opacity: 0;
}
#draftSim #players {
  background-color: #212121;
  float: left;
  text-indent: 6px;
  display: inline-block;
  vertical-align: top;
}
#draftSim #players h3 {
  color: #eeeeee;
  background-color: #212121;
  font-weight: bold;
  margin: 0;
  padding: 4px 0;
}
#draftSim #players table {
  width: 780px;
  font-size: large;
}
#draftSim #players table thead tr {
  background-color: #212121;
  display: block;
  position: relative;
}
#draftSim #players table thead tr th {
  padding: 2px 0;
  color: #eeeeee;
}
#draftSim #players table thead tr th.sort {
  background-color: #eeeeee;
  color: #212121;
  padding-right: 0 !important;
}
#draftSim #players table thead tr th.sort.asc:after,
#draftSim #players table thead tr th.sort.dsc:after {
  float: right;
  font-weight: 100;
  margin-right: 12px;
}
#draftSim #players table thead tr th.sort.asc:after {
  content: 'v';
}
#draftSim #players table thead tr th.sort.dsc:after {
  content: '^';
}
#draftSim #players table thead tr th:hover {
  cursor: pointer;
}
#draftSim #players table tbody {
  display: block;
  overflow-y: auto;
  height: 390px;
}
#draftSim #players table tbody tr {
  background-color: #555555;
  color: #eeeeee;
  height: 30px !important;
  margin: 0;
  padding: 0;
  line-height: 30px !important;
}
#draftSim #players table tbody td {
  height: 30px !important;
  margin: 0;
  padding: 0;
}
#draftSim #players table tbody tr:nth-child(odd) {
  background-color: #eeeeee;
  color: #212121;
}
#draftSim #players #undrafted th:nth-child(1),
#draftSim #players #undrafted td:nth-child(1) {
  min-width: 64px;
  text-align: center;
  padding-right: 16px;
}
#draftSim #players #undrafted th:nth-child(2),
#draftSim #players #undrafted td:nth-child(2) {
  min-width: 200px;
}
#draftSim #players #undrafted th:nth-child(3),
#draftSim #players #undrafted td:nth-child(3) {
  min-width: 200px;
}
#draftSim #players #undrafted th:nth-child(4),
#draftSim #players #undrafted td:nth-child(4) {
  min-width: 110px;
}
#draftSim #players #undrafted th:nth-child(5),
#draftSim #players #undrafted td:nth-child(5) {
  width: 210px;
}
#draftSim #players #drafted th:nth-child(1),
#draftSim #players #drafted td:nth-child(1) {
  padding-right: 16px;
  text-align: center;
  min-width: 64px;
}
#draftSim #players #drafted th:nth-child(2),
#draftSim #players #drafted td:nth-child(2) {
  min-width: 190px;
}
#draftSim #players #drafted th:nth-child(3),
#draftSim #players #drafted td:nth-child(3) {
  min-width: 210px;
}
#draftSim #players #drafted th:nth-child(4),
#draftSim #players #drafted td:nth-child(4) {
  min-width: 210px;
}
#draftSim #players #drafted th:nth-child(5),
#draftSim #players #drafted td:nth-child(5) {
  width: 110px;
}
#draftSim #positionFilter {
  background: #555555;
  float: left;
  height: 896px;
  width: 200px;
  vertical-align: top;
}
#draftSim #positionFilter .phase {
  margin: 0 0 24px 0;
  padding: 0;
}
#draftSim #positionFilter .phase > span {
  background-color: #212121;
  color: #eeeeee;
  display: inline-block;
  font-weight: bold;
  margin: 0;
  padding: 6px 0;
  text-indent: 12px;
  width: 100%;
}
#draftSim #positionFilter ul {
  background: #555555;
  color: #eeeeee;
  list-style: none;
  margin: 0;
  padding: 0;
}
#draftSim #positionFilter ul li {
  margin: 0;
  padding: 6px 0;
  text-indent: 12px;
}
#draftSim #positionFilter ul li.selected,
#draftSim #positionFilter ul li:hover {
  background: #eeeeee;
  color: #212121;
  cursor: pointer;
}
#draftSim #positionFilter ul li.selected:after {
  content: 'X';
  float: right;
  margin-right: 12px;
}
/*# sourceMappingURL=Main.css.map */