/* Team Draft Pick Logos */
.ATL {
  background-color: #b01742 !important;
  color: #ffffff !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.ATL {
  background-image: url(../img/logo/Falcons.png);
}
.ARI {
  background-color: #b00539 !important;
  color: #ffffff !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.ARI {
  background-image: url(../img/logo/Cardinals.png);
}
.BAL {
  background-color: #24125c !important;
  color: #d0b240 !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.BAL {
  background-image: url(../img/logo/Ravens.png);
}
.BUF {
  background-color: #ffffff !important;
  color: #c60c30 !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.BUF {
  background-image: url(../img/logo/Bills.png);
}
.CAR {
  background-color: #000000 !important;
  color: #0088ce !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.CAR {
  background-image: url(../img/logo/Panthers.png);
}
.CHI {
  background-color: #052842 !important;
  color: #dd4814 !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.CHI {
  background-image: url(../img/logo/Bears.png);
}
.CIN {
  background-color: #f36a24 !important;
  color: #000000 !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.CIN {
  background-image: url(../img/logo/Bengals.png);
}
.CLE {
  background-color: #de6108 !important;
  color: #26201e !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.CLE {
  background-image: url(../img/logo/Browns.png);
}
.DAL {
  background-color: #0d254c !important;
  color: #8c8b8a !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.DAL {
  background-image: url(../img/logo/Cowboys.png);
}
.DEN {
  background-color: #101a3d !important;
  color: #d54c08 !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.DEN {
  background-image: url(../img/logo/Broncos.png);
}
.DET {
  background-color: #006caf !important;
  color: #ffffff !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.DET {
  background-image: url(../img/logo/Lions.png);
}
.GNB {
  background-color: #313f36 !important;
  color: #ffcc00 !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.GNB {
  background-image: url(../img/logo/Packers.png);
}
.HOU {
  background-color: #00133e !important;
  color: #ffffff !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.HOU {
  background-image: url(../img/logo/Texans.png);
}
.JAX {
  background-color: #006779 !important;
  color: #d9a218 !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.JAX {
  background-image: url(../img/logo/Jaguars.png);
}
.KAN {
  background-color: #b20032 !important;
  color: #f2c800 !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.KAN {
  background-image: url(../img/logo/Chiefs.png);
}
.IND {
  background-color: #163f83 !important;
  color: #ffffff !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.IND {
  background-image: url(../img/logo/Colts.png);
}
.MIA {
  background-color: #ffffff !important;
  color: #006666 !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.MIA {
  background-image: url(../img/logo/Dolphins.png);
}
.MIN {
  background-color: #582c83 !important;
  color: #f0bf00 !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.MIN {
  background-image: url(../img/logo/Vikings.png);
}
.NWE {
  background-color: #00214a !important;
  color: #d6d6d6 !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.NWE {
  background-image: url(../img/logo/Patriots.png);
}
.NOR {
  background-color: #c9b074 !important;
  color: #000000 !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.NOR {
  background-image: url(../img/logo/Saints.png);
}
.NYG {
  background-color: #192e6c !important;
  color: #ca001a !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.NYG {
  background-image: url(../img/logo/Giants.png);
}
.NYJ {
  background-color: #015b41 !important;
  color: #ffffff !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.NYJ {
  background-image: url(../img/logo/Jets.png);
}
.OAK {
  background-color: #000000 !important;
  color: #c4c8cb !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.OAK {
  background-image: url(../img/logo/Raiders.png);
}
.PHI {
  background-color: #003b48 !important;
  color: #ffffff !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.PHI {
  background-image: url(../img/logo/Eagles.png);
}
.PIT {
  background-color: #fbae46 !important;
  color: #000000 !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.PIT {
  background-image: url(../img/logo/Steelers.png);
}
.SDG {
  background-color: #0472cc !important;
  color: #eec607 !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.SDG {
  background-image: url(../img/logo/Chargers.png);
}
.SFO {
  background-color: #c4031e !important;
  color: #bc9e5c !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.SFO {
  background-image: url(../img/logo/49ers.png);
}
.SEA {
  background-color: #06192e !important;
  color: #4eae47 !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.SEA {
  background-image: url(../img/logo/Seahawks.png);
}
.STL {
  background-color: #0d254c !important;
  color: #c9af74 !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.STL {
  background-image: url(../img/logo/Rams.png);
}
.TAM {
  background-color: #b20032 !important;
  color: #89765f !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.TAM {
  background-image: url(../img/logo/Buccaneers.png);
}
.TEN {
  background-color: #648fcc !important;
  color: #000080 !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.TEN {
  background-image: url(../img/logo/Titans.png);
}
.WAS {
  background-color: #773141 !important;
  color: #ffb612 !important;
  background-repeat: no-repeat;
  background-position: right;
}
.teamLogo.WAS {
  background-image: url(../img/logo/Redtails.png);
}
/*# sourceMappingURL=Teams.css.map */