<!DOCTYPE html>
<html lang="en" ng-app="mockr" data-framework="angularjs">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
	<link href="~/app/css/bootstrap.css" rel="stylesheet" />
	<link href="~/app/css/Main.css" rel="stylesheet" />
</head>
	<body>
		<header>
			<span id="title">MockR</span>
		</header>
		<div id="main" role="main">
			@RenderBody()
		</div>

		<script src="~/app/js/underscore.js"></script>
		<script src="~/app/js/angular.js"></script>
		<script src="~/app/js/angular-animate.js"></script>
		<script src="~/app/js/angular-route.js"></script>
		<script src="~/app/js/angular-ui-bootstrap-tpls-0.10.0.js"></script>
		<script src="~/app/js/angular-scrollglue.js"></script>
		<script src="~/app/lib/ProspectSort.js"></script>
		<script src="~/app/lib/ProspectFilter.js"></script>
		<script src="~/app/app.js"></script>
		<script src="~/app/Simulation.js"></script>
		<script src="~/app/controllers.js"></script>
		<script src="~/app/draftStrategies.js"></script>
	</body>
</html>